/* GLOBAL */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  line-height: 1.6;
  color: #666;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary--main {
  display: block;
  font-size: 5.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.heading-primary--sub {
  display: block;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: lowercase;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 400;
}

.heading-4 {
  font-weight: 400;
  font-size: 1.9rem;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

.center-text {
  text-align: center;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10rem;
}

.btn--outline:hover,
.btn--outline:active {
  color: #000;
  background-color: #fff;
}

.btn--text:link,
.btn--text:visited {
  display: inline-block;
  font-family: inherit;

  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  transition: all 0.3s;
}
.btn--text:hover,
.btn--text:active {
  color: #000;
  border-bottom: 1px solid #000;
}

.btn--info:link,
.btn--info:visited {
  display: inline-block;
  font-family: inherit;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  background-color: #000080;
  color: #fff;
  border-radius: 8rem;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000080;

  height: 9.6rem;
  position: relative;
}

.header__logo-box {
  max-width: 10rem;
}

/* NAVIGATION */
.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  position: relative;
}

.navigation__link:active,
.navigation__link:hover {
  color: #7c7c8c;
}

/* HERO SECTION */
.section-hero {
  background-color: #000080;
  padding: 15rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9.6rem;
}

.hero__text-box {
  color: #fff;
}

/* FEATURES SECTION */
.features-section {
  padding: 10rem 0;
}
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  align-items: start;
  margin-top: 10rem;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

.feature__icon {
  grid-row: 1 / span 2;
  height: 4.4rem;
  width: 4.4rem;
  color: #000080;
}

.feature__text {
  font-size: 1.7rem;
}

.text-bright {
  color: #000080;
}

/* PRODUCT FEATURES SECTION */
.product-features-section {
  padding: 4rem 0;
}

.product-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 4.8rem;
}

.product-features__description {
  font-size: 1.6rem;
  margin-top: 2.8rem;
}

/* DEMO SECTION */

.demo-section {
  background-color: #000080;
}

.demo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
}

.demo-section .container {
  padding: 5rem 4rem;
}

.demo__text-box {
  flex: 0 0 60%;
  color: #fff;
}

.demo__description {
  font-size: 1.6rem;
}

.demo__cta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%;
}

.demo__cta-box > a:not(:last-child) {
  margin-right: 4.8rem;
}

/* TESTIMONIALS SECTION */
.testimonials-section {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
}

.purchase-now__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase-now__text-box h2 {
  width: 70%;
}

/* SECTION PRICING */
.pricing-plans {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 4.8rem;
  padding: 9.6rem;
}

.pricing-plan {
  border-radius: 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pricing-plan > a {
  align-self: center;
  margin-top: 3.2rem;
}

.pricing-plan--starter {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 4.6rem;
}

.pricing-plan--active {
  background-color: #000080;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 4.6rem;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #000080;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
}

.plan-duration {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #000080;
}